.head {
    position: relative;
    top: 20px;
    color: crimson;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.input_firstName {
    color: rebeccapurple;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 200px;
    top: 70px;
    border: 2px solid navy;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
}

.output_Name {
    color: #c3325f;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 600px;
}
.face {
    position: relative;
    top: 180px;
    left: 50px;
    z-index: -1;
    animation: movement_of_the_face 4s infinite;
    display: none;
}
@keyframes movement_of_the_face {
    0%   {transform: rotateX(0deg);}
    25%  {transform: rotateX(7deg);}
    50%  {transform: rotateX(15deg);}
    75%  {transform: rotateX(7deg);}
    100% {transform: rotateX(0deg);}
}
.hand {
    position: relative;
    left: -140px;
    top: 65px;
    animation: movement_of_the_hand 4s infinite;
    display: none;
}

@keyframes movement_of_the_hand {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(10deg);}
    50%  {transform: rotate(25deg);}
    75%  {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}