.form_questions {
  font-family: "Tahoma", serif;
  font-size: 24px;
  margin: 25px;
  text-align: center;
}
.form_wight {
  display: inline-block !important;
  width: 40% !important;
  text-align: center !important;
}
.btn_center {
  position: relative;
  left: 630px;
}
.img_vedmid {
  position: absolute;
  top: 350px;
  width: 350px;
}
.img_veselka {
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 700px;
  opacity: 0.5;
}
